* {
    margin: 0;
    padding: 0;
    font-family: 'Markazi Text', serif;
}

/**  وهنا وضعنا خط الصفحة لجعله مريح للعين ولجمالية الموقع  **/

@import url('https://fonts.googleapis.com/css2?family=Markazi+Text&display=swap');

/**  غيرنا لون الخلفية **/

body {
    font-weight: normal;
    font-family: 'Markazi Text', serif;
    background: #143357;
}

/** غيرنا شكل التصفح وصار سلس اكثر وافضل  **/

html {
    scroll-behavior: smooth;
}

/** اللوقو  **/

#IMG1 {
    position: relative;
    width: 150px;
    left: 5%;
}

/**  رأٍس الصفحة **/

header {
    top: 5%;
    width: 100%;
    height: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    background: transparent;
}

/**  شريط صفحات الموقع **/

nav {
    font-weight: bolder;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 15px;
    gap: 3rem;
}

/**  الكلام الي بالشريط **/

nav a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #D4E8FF;
    font-weight: lighter;
    font-size: 2.4em;
    position: relative;
    right: 35px;
}

nav a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #c7e1ff;
    transform-origin: bottom right;
    transition: transform 0.30s ease-out;
}

nav a:hover::after {
    text-decoration-color: #FFD100;
    transform: scaleX(1);
    transform-origin: bottom right;
}

/**  ازرار تسجيل الخروج والدخول وانشاء الحساب **/

.button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: -1%;
    gap: 12px;
}

#button1 {
    font-weight: 900;
    width: 150px;
    height: 55px;
    border: 3px solid #ffffff;
    border-radius: 25px;
    transition: all 0.3s;
    cursor: pointer;
    background: transparent;
    font-size: 1.7em;
    font-weight: 900;
    color: #e3f0ff;
    position: relative;
    /* left: -50px; */
}

#button1:hover {
    background-color: #e3f0ff;
    color: #1f5189;
}

#button {
    width: 160px;
    height: 55px;
    border-radius: 25px;
    transition: all 0.3s;
    cursor: pointer;
    background: #e3f0ff;
    font-size: 1.7em;
    font-weight: 900;
    color: #1b579c;
    position: relative;
    /* left: -40px; */
}
#aosh1 {
    position: relative;
    text-align: center;
    top: 100px;
    color: #e3f0ff;
}