* {
    margin: 0;
    padding: 0;
    font-family: 'Markazi Text', serif;
}

/**  وهنا وضعنا خط الصفحة لجعله مريح للعين ولجمالية الموقع  **/

@import url('https://fonts.googleapis.com/css2?family=Markazi+Text&display=swap');

/**  غيرنا لون الخلفية **/

body {
    font-weight: normal;
    font-family: 'Markazi Text', serif;
    background: #143357;
}

/** غيرنا شكل التصفح وصار سلس اكثر وافضل  **/

html {
    scroll-behavior: smooth;
}

/** اللوقو  **/

#IMG1 {
    position: relative;
    width: 150px;
    left: 5%;
}

/**  رأٍس الصفحة **/

header {
    top: 6%;
    width: 100%;
    height: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    background: transparent;
}

/**  شريط صفحات الموقع **/

nav {
    font-weight: bolder;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 2rem;
}

/**  الكلام الي بالشريط **/

nav a {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-decoration: none;
    color: #D4E8FF;
    font-weight: lighter;
    font-size: 2.7em;
    position: relative;
}

nav a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #c7e1ff;
    transform-origin: bottom right;
    transition: transform 0.30s ease-out;
}

nav a:hover::after {
    text-decoration-color: #FFD100;
    transform: scaleX(1);
    transform-origin: bottom right;
}

/**  ازرار تسجيل الخروج والدخول وانشاء الحساب **/

.button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: -1%;
    gap: 12px;
}

#button1 {
    font-weight: 900;
    width: 160px;
    height: 50px;
    border: 3px solid #ffffff;
    border-radius: 25px;
    transition: all 0.3s;
    cursor: pointer;
    background: transparent;
    font-size: 1.7em;
    font-weight: 900;
    color: #e3f0ff;
}

#button1:hover {
    background-color: #e3f0ff;
    color: #1f5189;
}

#button {
    width: 160px;
    height: 55px;
    border-radius: 25px;
    transition: all 0.3s;
    cursor: pointer;
    background: #e3f0ff;
    font-size: 1.7em;
    font-weight: 900;
    color: #1b579c;
}

.image {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    color: white;
    height: 630px;
    gap: 10rem;
}

.img1 {
    margin-top: 10%;
    margin-right: 1%;
}

.img2 img{
    width: 100%;
    height: 600px;
    position: relative;
    top: 50px;
}

.image h2 {
    color: #e4e4e4;
    content: "";
    font-weight: bolder;
    font-size: 10em;
    line-height: 54px;
}

.image p {
    color: #e3f0ff;
    font-weight: lighter;
    content: "";
    margin-top: 10%;
    font-size: 6.4em;
    line-height: 54px;
    width: 700px;
}

#B {
    margin-top: 8%;
    font-weight: 900;
    width: 250px;
    height: 85px;
    border: 3px solid #e4e4e4;
    border-radius: 25px;
    transition: all 0.3s;
    cursor: pointer;
    background: #e3f0ff;
    font-size: 3.3em;
    padding: auto;
    font-weight: 550;
    color: #274C77;
}

.image #B:hover {
    background: transparent;
    color: #e3f0ff;
}