* {
    margin: 0;
    padding: 0;
    font-family: 'Markazi Text', serif;
}

/**  وهنا وضعنا خط الصفحة لجعله مريح للعين ولجمالية الموقع  **/

@import url('https://fonts.googleapis.com/css2?family=Markazi+Text&display=swap');

/**  غيرنا لون الخلفية **/

body {
    font-weight: normal;
    font-family: 'Markazi Text', serif;
    background: #143357;
}

/** غيرنا شكل التصفح وصار سلس اكثر وافضل  **/

html {
    scroll-behavior: smooth;
}

/** اللوقو  **/

#IMG1 {
    position: relative;
    width: 150px;
    left: 5%;
}

/**  رأٍس الصفحة **/

header {
    top: 6%;
    width: 100%;
    height: 1vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    background: transparent;
}

/**  شريط صفحات الموقع **/

nav {
    font-weight: bolder;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 2rem;
}

/**  الكلام الي بالشريط **/

nav a {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-decoration: none;
    color: #D4E8FF;
    font-weight: lighter;
    font-size: 2.7em;
    position: relative;
}

nav a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    background-color: #c7e1ff;
    transform-origin: bottom right;
    transition: transform 0.30s ease-out;
}

nav a:hover::after {
    text-decoration-color: #FFD100;
    transform: scaleX(1);
    transform-origin: bottom right;
}

/**  ازرار تسجيل الخروج والدخول وانشاء الحساب **/

.button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: -1%;
    gap: 12px;
}

#button1 {
    font-weight: 900;
    width: 160px;
    height: 50px;
    border: 3px solid #ffffff;
    border-radius: 25px;
    transition: all 0.3s;
    cursor: pointer;
    background: transparent;
    font-size: 1.7em;
    font-weight: 900;
    color: #e3f0ff;
}

#button1:hover {
    background-color: #e3f0ff;
    color: #1f5189;
}

#button {
    width: 160px;
    height: 55px;
    border-radius: 25px;
    transition: all 0.3s;
    cursor: pointer;
    background: #e3f0ff;
    font-size: 1.7em;
    font-weight: 900;
    color: #1b579c;
}

.image {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .image img {
    position: relative;
    width: 100%;
    height: 750px;
  }

  .image1 {
    background: transparent;
    position: relative;
    text-align: center;
    color: white;
    margin-top: 3%;
    height: 750px;
}

.image1 img {
    content: "";
    position: relative;
    width: 33%;
    top: 11%;
    right: 30%;
}

.image1 h2 {
    text-align: right;
    color: #ffffff;
    content: "";
    position: absolute;
    width: 80%;
    right: 5%;
    height: auto;
    /* right: 7%; */
    top: 12%;
    font-weight: bolder;
    font-size: 10em;
    line-height: 54px;
}

.image1 p {
    color: #ffffffe3;
    font-weight: lighter;
    text-align: right;
    content: "";
    position: absolute;
    width: 45%;
    right: 5%;
    top: 33%;
    font-size: 2.5em;
    line-height: 54px;
}

.h2 {
    position: absolute;
    margin-bottom: 50%;
  }
  
  .h2 h1 {
    font-size: 8em;
    color: #ede0d4;
  }
  
  section {
    padding-top: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .card-container {
    width: 420px;
    height: 480px;
    position: relative;
    border-radius: 10px;
  }
  
  .card-container::before {
    content: "";
    z-index: -1;
    position: absolute;
    inset: 0;
    background: transparent;
  }
  
  .card {
    width: 100%;
    height: 110%;
    border-style: solid;
    border-color: #afafaf;
    border-width: 5px;
    border-radius: 10%;
    overflow: hidden;
    transition: .3s;
  }
  
  .card .img-content {
    scale: .9;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: gray;
    transition: scale 0.6s, rotate 0.6s, filter 1s;
  }
  
  .card .content {
    position: absolute;
    top: 0;
    left: 10%;
    font-size: 1.5em;
    font-weight: 900;
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
    color: #EDE0D4;
    line-height: 1.5;
    border-radius: 5px;
    opacity: 0;
    pointer-events: none;
    transform: translateY(50px);
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .card .content .heading {
    font-size: 2em;
    font-weight: 700;
    color: #EDE0D4;
  }
  
  .card:hover .content {
    opacity: 1;
    transform: translateY(0);
  }
  
  .card:hover .img-content {
    filter: blur(20px);
    filter: brightness(30%);
  }
  
  .card:hover {
    cursor: pointer;
  }

  footer {
    margin-top: 12%;
    background: rgb(20,51,87);
    background: linear-gradient(180deg, rgba(20,51,87,1) 19%, rgba(217,220,214,1) 100%);   
    text-align: center;
    width: 100%;
    position: relative;
  }

  footer .row {
    width: 100%;
    color: #143357;
    font-size: 2.5em;
    font-weight: bolder;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2%;
    margin-top: 1%;
  }
  
  footer .row a {
    text-decoration: none;
    color: #143357;
    transition: 0.5s;
    font-size: 0.75em;
  }
  
  footer .row a:hover {
    color: #05172b76;
  }
  
  footer .row ul {
    width: 100%;
  }
  
  .img {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    padding-top: 6%;
  }
  
  /**  ايقونات برامج التواصل الاجتماعي **/
  
  .socialContainer {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background: #143357;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition-duration: .3s;
  }
  
  /* instagram*/
  .containerOne:hover {
    background-color: #d62976;
    transition-duration: .3s;
  }
  
  /* twitter*/
  .containerTwo:hover {
    background-color: #00acee;
    transition-duration: .3s;
  }
  
  /* linkdin*/
  .containerThree:hover {
    background-color: #0072b1;
    transition-duration: .3s;
  }
  
  /* Whatsapp*/
  .containerFour:hover {
    background-color: #128C7E;
    transition-duration: .3s;
  }
  
  .socialContainer:active {
    transform: scale(0.9);
    transition-duration: .3s;
  }
  
  .socialSvg {
    width: 17px;
  }
  
  .socialSvg path {
    fill: rgb(255, 255, 255);
  }
  
  .socialContainer:hover .socialSvg {
    animation: slide-in-top 0.3s both;
  }
  
  /* انيميشن الصفحات */
  
  @keyframes slide-in-top {
    0% {
      transform: translateY(-50px);
      opacity: 0;
    }
  
      100% {
          transform: translateY(0);
          opacity: 1;
      }
  }
  #userimg {
    border-radius: 9000px;
    width: 80px;
    position: relative;
}
#userh2 {
    font-size: 3.2em;
    color: #e3f0ff;
    width: 150%;
    position: relative;
    right: -100px;
    /* position: relative;
    right: 80px; */
}
.dropbtn {
    width: 140px;
    background: transparent;
    background-color: transparent;
    border: none;
    position: relative;
    cursor: pointer;
    right: 80px
  }
  .dropdown-content {
    color: white;
    text-align: center;
    display: none;
    position: absolute;
    background-color: #e3f0ff;
    min-width: 80px;
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    left: 150px;
    
  }
  
  .dropdown-content a {
    color: #143357;
    padding: 12px 16px;
    font-size: 1.4em;
    text-decoration: none;
    display: block;
    position: relative;
    text-align: center;
  }
  
  .dropdown-content a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0px;
    background-color: #143357;
    transform-origin: bottom right;
    transition: transform 0.20s ease-out;
  
  }
  
  .dropdown-content a:hover::after {
    /* text-decoration-color: #FFD100; */
    transform: scaleX(1);
    transform-origin: bottom right;
  }
  .dropdown-content button {
    color: #143357;
    padding: 12px 16px;
    /* display:block; */
    font-size: 1.1em;
    position: relative;
    text-align: center;
    background: transparent;
    border: none;
    cursor: pointer;
  }
  .dropdown-content button::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0px;
    right: 0px;
    background-color: #143357;
    transform-origin: bottom right;
    transition: transform 0.20s ease-out;
  
  }
  
  .dropdown-content button:hover::after {
    /* text-decoration-color: #FFD100; */
    transform: scaleX(1);
    transform-origin: bottom right;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
    /* text-decoration-color: #FFD100; */
  }
  
  .dropdown:hover .dropbtn {
    background-color:transparent;
    color: transparent;
  }